<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>MANHWA TO MATCH</title>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/home.css" />
    <script defer src="script.js"></script>
    <link rel="icon" href="favicon.ico">
    <link rel="icon" sizes="200x200" href="./images/favicon.png">
    
     <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</head>
<body>
	 <footer> 
      <h4 class="footer-mini-nav"> <a th:href="@{/home}">HOMEに戻る</a> |  <a th:href="@{/login}">ログイン・新規登録</a> |  <a th:href="@{/webt}">作品一覧・検索</a>  |  <a th:href="@{/new}">はじめての方へ</a>  |  <a th:href="@{/contact}">お問い合わせ</a></h4><br>

      <div class="title-wrapper">
        <img src="./images/logo-site5.png">
      </div >
      
    </footer>
</body>
</html>