<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>WEBTOON LIST</title>
 <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MANHWA TO MATCH</title>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="icon" href="favicon.ico">
    <link rel="icon" sizes="200x200" href="../images/favicon.png">
  </head>

<body style="overflow: visible;">
  
	<!-- navigation.htmlをインクルード -->
	<div th:replace="navigation"></div>
	
	<section class="main-section">
		
	<h4 class="topnav" style="margin-bottom:-60px;"> <a th:href="@{/home}">HOME</a> ＞ LOGIN </h4>

  <form th:action="@{/login/do}" method="post" th:object="${loginData}">
  <div class="acct-wrp">
  
   <h3 style="margin:20px auto 30px;">Login Form</h3>
     
        <ul>
            <li><label>ユーザーID：<input type="text" name="loginId" size="40" maxlength="50">
          <div th:if="${#fields.hasErrors('loginId')}" 
            th:errors="*{loginId}" th:errorclass="red"></div></li>
            <li><label>パスワード：<input type="password" name="password" size="40" maxlength="50">
          <div th:if="${#fields.hasErrors('password')}" 
            th:errors="*{password}" th:errorclass="red"></div>
        </ul>
        <div class="button-area">
          <input type="reset" value="リセット">
          <input type="submit" value="ログイン">
      </div>
       <a th:href="@{/regist}" style="color:gray; margin:30px;">新規登録はこちら</a>
    </div>

  </form>
 
     <!-- footer.htmlをインクルード -->
	<div th:replace="footer"></div>
	
</section>

  </body>
</html>