<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>MANHWA TO MATCH</title>
    <link rel="stylesheet" href="../css/common.css" />
     <link rel="stylesheet" href="../css/myPage.css" />
     
    <link rel="icon" href="favicon.ico">
    <link rel="icon" sizes="200x200" href="./images/favicon.png">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
  </head>
  
  <body style="overflow: visible;">
	  
    <!-- navigation.htmlをインクルード -->
	<div th:replace="navigation"></div>

		<h4 class="topnav"><a href ="index.html">HOME</a> ＞ LOGIN ＞ MY PAGE</h4>
		
		<section class="main-section">
  
			<div class="profile-container">
				    <h2>My Page<h2>
				    <h3 th:text="${'ようこそ、' + user.name + ' さん！' }"></h3>

				     
				      <div class="user-icon">
				        <img th:if="${webt != null and webt.imagePath != null and webt.imagePath != ''}" th:src="@{${webt.imagePath}}" alt="Webtoon Image">

<!-- 表紙画像がアップロードされていない場合、デフォルトの画像を表示 -->
<img th:if="${webt == null or webt.imagePath == null or webt.imagePath == ''}" src="/images/profile.jpg" alt="Default">

					  </div>    
					   
			    <h4 th:text="${'user ID : ' + user.loginId }"></h4>
			         
			     <div style="display: flex; justify-content: center; margin-top:-20px;">
			        <button style="background-color:yellow; color:black;">ブックマーク</button>
				    <button style="margin-right: 10px;">プロフィール編集</button>
				    <form method="post" th:action="@{/logout}" style="margin-left: 10px;">
				        <button type="submit">ログアウト</button>
				        <form method="post" th:action="@{/deleteAccount}">
    <button type="submit">アカウント削除</button>
</form>

				 </div>			      
	   		 </div>   

    <!-- footer.htmlをインクルード -->
	<div th:replace="footer"></div>
	
  </section>

  </body>
</html>