<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MANHWA TO MATCH</title>
    <link rel="stylesheet" href="../css/common.css" />
    <script defer src="script.js"></script>
    <link rel="icon" href="favicon.ico">
    <link rel="icon" sizes="200x200" href="../images/favicon.png">
   
  </head>
  
  <body style="overflow: visible;">
	  
  <!-- navigation.html をインクルード -->
<div th:replace="navigation :: navigation(pageName)"></div>


 <button class="mailform" th:attr="data-href=@{/contactForm}">
    <a th:href="@{/contactForm}" style="color: black; text-decoration: none;">お問い合わせ</a>
</button>

  <section class="main-section" >
    
	<div class="top-wrapper">
	  <div class="top-left">	    <div class="siteheader">
	      <img src="/images/logo-site1.png">
	  </div>

 <h4>韓国発祥のデジタルコミック「webtoon」の普及は比較的最近ですが、<br>様々な魅力が詰まっており、現在日本でも人気が高まっています。<br><br>
 「Manhwa To Match」は webtoon の作品紹介にとどまらず、<br>最新情報の収集にも特化した専用プラットフォームとなっております。<br><br>
 ぜひアカウントを作成し、掲示板やコメント、ブックマークなどの機能をご活用ください。
 </h4><br><br>
<div class="login-button" style="margin-top:-30px;">
    <button style="width:fit-content;"><a th:href="@{/regist}" style="padding:20px; font-size: 17px;">アカウントを作成する</a></button>
</div>

 <div>
  <div class="recomended-sites">
    <div class="text-area">
    <h4 style="color:gray;">WEBTOONが読める<br>代表的な公式プラットフォームを紹介</h4>
    <h5>日本語サイト(和訳)</h5>
    <p>韓国語が読めなくても大丈夫！<br>日本語で読める無料作品が盛りだくさん♪</p>
      <ul>
        <li><a href="https://piccoma.com/web/"><img src="./images/logo-piccoma.jpg"></a></li>
        <li><a href="https://manga.line.me/"> <img src="./images/logo-line.jpg"></a></li>
        <li><a href="https://www.comico.jp/"> <img src="./images/logo-comico.jpg"></a></li>
      </ul>
      <h5>韓国語サイト</h5>
      <p>「気になるあの作品の最新話が読みたい！」<br>それなら、韓国本家の代表的な３大プラットフォームをチェック</p>
      <ul>
        <li><a href="https://page.kakao.com/"><img src="./images/logo-kakao.jpg"></a></li>
        <li><a href="https://ridibooks.com/webtoon/recommendation"><img src="./images/logo-ridi.png"></a></li>
        <li><a href="https://comic.naver.com/webtoon"><img src="./images/logo-naver.jpg"></a></li>
      </ul>
    </div>
    </div>
    <button onclick="scrollToTop()" id="topBtn" title="Go to top">TOP</button>
  
    <script>

      const scrollToTopBtn = document.getElementById('topBtn');
        function scrollToTop() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        }

        window.addEventListener('scroll', function() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                scrollToTopBtn.style.display = 'block';
            } else {
                scrollToTopBtn.style.display = 'none';
            }
        });

    </script>

     <!-- footer.htmlをインクルード -->
	<div th:replace="footer"></div>
    
  </section>

  </body>
</html>