<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MANHWA TO MATCH</title>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="icon" href="favicon.ico">
    <link rel="icon" sizes="200x200" href="../images/favicon.png">
</head>

<body style="overflow: visible;">
	  
    <!-- navigation.htmlをインクルード -->
	<div th:replace="navigation"></div>

	<section class="main-section">
	<h4 class="topnav"> <a th:href="@{/home}">HOME</a> ＞  <a th:href="@{/login}">LOGIN</a> > 新規登録</h4>

 
    <div class="contact-form">
         <h3 style="margin:20px auto 30px;">Register Form</h3>

   
     <form th:object="${registData}" method="post" enctype="multipart/form-data" 
     	action="/regist/do">
     	
     	<div style="display: flex; justify-content: center; align-items: center;">
    <div style="display: flex; flex-direction: column; align-items: flex-start;">
     	 
        <div class="item">
            <label class="label">User ID：</label>
            <input type="text" name="loginId" th:value="*{loginId}" size="50">
          <div th:if="${#fields.hasErrors('loginId')}" 
            th:errors="*{loginId}" th:errorclass="red"></div>
        </div>
        <div class="item">
          <label class="label">User Name：</label>
         <input type="text" name="name" th:value="*{name}" size="46">
          <div th:if="${#fields.hasErrors('name')}" 
            th:errors="*{name}" th:errorclass="red"></div>
      </div>
        <div class="item">
            <label class="label">Password：</label>
             <input type="password" name="password1"size="48" >
            <div th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}"
            th:errorclass="red"></div>
        </div>
        <div class="item">
          <label class="label">Password (確認)：</label>
           <input type="password" name="password2" size="40.9">
          <div th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}"
            th:errorclass="red"></div>
      </div>
      <div class="item">
          <label class="label" for="imageFile">Profile Image：</label>
        <input type="file" class="form-control" id="imageFile" 
        	name="imageFile" accept="image/*" size="50">
      </div>
      </div>
    </div>

        <div class="button-area">
          <input type="reset" value="リセット">
    <input type="submit" value="登録">
      </div>
      
      <a th:href="@{/regist/cancel}"  style="color:gray; margin:30px;">ログイン画面に戻る</a>
      </div>
</form>

    </div>
    
    <!-- footer.htmlをインクルード -->
	<div th:replace="footer"></div>
	
</section>

  </body>
</html>