<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Webtoon Form</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <!-- Add your other head elements here -->
</head>

<body>
    <h2>Create Webtoon</h2>

    <form th:action="@{/}" th:object="${webtData}" method="post" enctype="multipart/form-data">

        <table>
        	 <tr>
		        <th>id</th>
		        <td>
		          <span th:text="*{id}"></span>
		          <input type="hidden" th:field="*{id}">
		        </td>
		      </tr>
            <tr>
                <th><label for="title">作品タイトル</label></th>
                <td>
                    <input type="text" id="title" name="title" size="40" th:value="*{title}" placeholder="作品タイトル">
                    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" th:errorclass="red"></div>
                </td>
            </tr>

            <tr>
                <th><label for="author">作者</label></th>
                <td>
                    <input type="text" id="author" name="author" size="40" th:field="*{author}" placeholder="作者名">
                    <div th:if="${#fields.hasErrors('author')}" th:errors="*{author}" th:errorclass="red"></div>
                </td>
            </tr>

            <tr>
                <th><label>ジャンル</label></th>
               <td>
				    <input type="checkbox" id="action" name="genres" value="action" th:checked="${genres?.contains('action')}"><label for="action">アクション</label>
				    <input type="checkbox" id="romance" name="genres" value="romance" th:checked="${genres?.contains('romance')}"><label for="romance">ロマンス</label>
				    <input type="checkbox" id="fantasy" name="genres" value="fantasy" th:checked="${genres?.contains('fantasy')}"><label for="fantasy">ファンタジー</label><br>
				    <input type="checkbox" id="suspense" name="genres" value="suspense" th:checked="${genres?.contains('suspense')}"><label for="suspense">サスペンス</label>
				    <input type="checkbox" id="sf" name="genres" value="sf" th:checked="${genres?.contains('sf')}"><label for="sf">SF</label>
				    <input type="checkbox" id="comedy" name="genres" value="comedy" th:checked="${genres?.contains('comedy')}"><label for="comedy">コメディ</label>
				    <input type="checkbox" id="others" name="genres" value="others" th:checked="${genres?.contains('others')}"><label for="others">その他</label>
				    <div th:if="${#fields.hasErrors('genres')}" th:errors="*{genres}" th:errorclass="red"></div>
				</td>
            </tr>

            <tr>
			    <th><label for="startYear">連載開始年</label></th>
			    <td>
			        <input type="text" id="startYear" name="startYear" size="5" th:value="*{startYear}" placeholder="yyyy">
			        <div th:if="${#fields.hasErrors('startYear')}" th:errors="*{startYear}" th:errorclass="red"></div>
			    </td>
			</tr>

            <tr>
                <th>ステータス</th>
               <td>
		          <input type="checkbox" value="Y" th:field="*{done}">
		          完結
		          <input type="hidden" name="!done" value="N" />
		        </td>
            </tr>

           <tr>
			    <th><label for="synopsis">あらすじ</label></th>
			    <td>
				    <textarea id="synopsis" name="synopsis" th:field="*{synopsis}" rows="8" cols="42" placeholder="あらすじ"></textarea>
			    </td>
			</tr>


            <tr>
                <th><label for="imageFile">表紙</label></th>
                <td><input type="file" id="imageFile" name="imageFile" accept="image/*" th:field="*{imageFile}"></td>
            </tr>
        </table>

        <div th:if="${session.mode == 'update'}">
      <button type="submit" th:formaction="@{/webt/update}">更新</button>
      <button type="submit" th:formaction="@{/webt/delete}">削除</button>
      <button type="submit" th:formaction="@{/webt/cancel}">キャンセル</button>
    </div>
    <div th:unless="${session.mode == 'update'}">
      <button type="submit" th:formaction="@{/webt/create}">登録</button>
      <button type="submit" th:formaction="@{/webt/cancel}">キャンセル</button>
    </div>
    
    </form>
    
</body>

</html>
