<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WEBTOON LIST</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/webtList.css" />
    <script defer src="script.js"></script>
    <link rel="icon" href="favicon.ico">
    <link rel="icon" sizes="200x200" href="./images/favicon.png">
</head>
<body style="overflow: visible;">
	  
    <!-- navigation.htmlをインクルード -->
	<div th:replace="~{navigation::navigation('webtList')}"></div>
    
<section class="main-section webt">
<h1>Webtoon List</h1>

<!-- Add the button with an ID for styling -->
<button type="button" id="add-button" onclick="location.href='/webt/create'">新規追加</button>

<form th:action="@{/webt/query}" method="post" th:object="${webtQuery}">
    <div style="display: flex">
       <table border="1">
    <tr>
        <th>タイトル</th>
        <th>作者名</th>
        
        <th>ステータス</th>
        <th>ジャンル</th>
    </tr>
    <tr>
        <td>
            <input type="text" name="title" size="20" th:value="*{title}" placeholder="キーワード入力">
        </td>
        <td>
            <input type="text" name="author" size="20" th:value="*{author}" placeholder="キーワード入力">
        </td>
       
        <td>
            <input type="checkbox" value="Y" th:field="*{done}">
            完結
        </td>
		<td>
		    <label><input type="checkbox" name="genres" value="action" th:checked="${webtQuery.genres != null and #arrays.contains(webtQuery.genres, 'action')}">アクション</label>&nbsp;&nbsp; 
		    <label><input type="checkbox" name="genres" value="romance" th:checked="${webtQuery.genres != null and #arrays.contains(webtQuery.genres, 'romance')}">ロマンス</label>&nbsp;&nbsp; 
		    <label><input type="checkbox" name="genres" value="sf" th:checked="${webtQuery.genres != null and #arrays.contains(webtQuery.genres, 'sf')}">SF</label>&nbsp;&nbsp; 
		    <label><input type="checkbox" name="genres" value="fantasy" th:checked="${webtQuery.genres != null and #arrays.contains(webtQuery.genres, 'fantasy')}">ファンタジー</label>&nbsp;&nbsp; <br> 
		    <label><input type="checkbox" name="genres" value="suspense" th:checked="${webtQuery.genres != null and #arrays.contains(webtQuery.genres, 'suspense')}">ホラー・サスペンス</label>&nbsp;&nbsp;  
		    <label><input type="checkbox" name="genres" value="comedy" th:checked="${webtQuery.genres != null and #arrays.contains(webtQuery.genres, 'comedy')}">コメディ</label>&nbsp;&nbsp;  
		    <label><input type="checkbox" name="genres" value="others" th:checked="${webtQuery.genres != null and #arrays.contains(webtQuery.genres, 'others')}">その他</label>&nbsp; &nbsp; 
		</td>
	</table>
</div>

 <div class="button-area">
          <input type="reset" value="リセット">
          <input type="submit" th:formaction="@{/webt/query}" value="検索">
      </div>

</form>

    <div class="webtoon-list">
        <div class="webtoon-item" th:if="${webtList != null and #lists.size(webtList) != 0}" th:each="webt : ${webtList}">
            <h4 style="margin-bottom:10px;">
                <!-- リンクの指定とテキストの表示 -->
                <a th:href="@{/webt/{id}(id=${webt.id})}" th:text="${webt.title}"></a>
            </h4>

            <div class="image-container">
                <!-- 詳細ページへのリンク -->
                <a th:href="@{/webt/details/{id}(id=${webt.id})}">
                    <div class="image-wrapper">
                        <!-- 画像の表示 -->
                        <img th:if="${webt != null and webt.imagePath != null and webt.imagePath != ''}" th:src="@{${webt.imagePath}}" alt="Webtoon Image" class="webtoon-image">
                        <!-- 表紙画像がアップロードされていない場合、デフォルトの画像を表示 -->
                        <img th:if="${webt == null or webt.imagePath == null or webt.imagePath == ''}" src="/images/webt0.jpg" alt="Default" class="webtoon-image">
                    </div>
	                     <p>
						    <a th:text="${webt.author}"></a>
						</p>
                    <div class="tooltip">
                       
                        <!-- 詳細ページへのリンク -->
                        <a th:href="@{/webt/details/{id}(id=${webt.id})}"></a>
                    </div>
                </a>
            </div>
        </div>
    </div>

<div style="margin-bottom:30px;">
    <div th:if="${webtList != null && #lists.size(webtList) != 0}">
        <div style="text-align: center; margin:10px 0px 10px;">
            <span th:text="|${webtPage.getNumber() + 1} / ${webtPage.getTotalPages()} ページを表示中|"></span>
        </div>
        <ul id="nav">
            <li>
                <span th:if="${webtPage.isFirst()}" class="disabled">＜</span>
                <a th:unless="${webtPage.isFirst()}" th:href="@{/webt/query(page = ${webtPage.getNumber() - 1})}">＜</a>
            </li>
            <li th:each="i : ${#numbers.sequence(0, webtPage.getTotalPages() - 1)}">
                <span th:if="${i == webtPage.getNumber()}" class="current" th:text="${i + 1}"></span>
                <a th:if="${i != webtPage.getNumber()}" th:href="@{/webt/query(page=${i})}" th:text="${i + 1}"></a>
            </li>
            <li>
                <span th:if="${webtPage.isLast()}" class="disabled">＞</span>
                <a th:unless="${webtPage.isLast()}" th:href="@{/webt/query(page = (${webtPage.getNumber() + 1}))}">＞</a>
            </li>
        </ul>
    </div>
</div>

  <!-- footer.htmlをインクルード -->
	<div th:replace="footer"></div>
	
</section>

</body>
</html>